<div *ngIf="character">
    <div>
        <app-breadcrumb [path]="breadcrumbPath"></app-breadcrumb>
    </div>
    <div class="house-line">
        <app-house-colored-line [houseName]="character.house"></app-house-colored-line>
    </div>
    <div class="page">


        <div class="title">
            <div *ngIf="character.image" class="char-img" style="background-image:url('{{character.image}}')"></div>
            <div *ngIf="!character.image && character.gender == 'male'" class="char-img"
                style="background-image:url('assets/img/placeholder-he.svg'); "></div>
            <div *ngIf="!character.image && character.gender == 'female'" class="char-img"
                style="background-image:url('assets/img/placeholder-she.svg'); "></div>
            <h2>{{character.name}}</h2>
        </div>

        <div class="summary">
            <div class="icons">
                <app-rounded-icon
                    [imgSrc]="(character.alive) ?'/assets/img/heartbeat.svg' : '/assets/img/risk-skull.svg'"
                    [tooltipText]="(character.alive) ?'Alive' : 'Dead'"></app-rounded-icon>
                <app-rounded-icon *ngIf="character.hogwartsStaff" [imgSrc]="'/assets/img/teacher.svg'"
                    [tooltipText]="'Hogwarts Staff'"></app-rounded-icon>
                <app-rounded-icon *ngIf="character.hogwartsStudent" [imgSrc]="'/assets/img/graduation.svg'"
                    [tooltipText]="'Hogwarts Student'"></app-rounded-icon>
                <app-rounded-icon *ngIf="character.gender === 'male'" [imgSrc]="'/assets/img/male-gender.svg'"
                    [tooltipText]="'Male'"></app-rounded-icon>
                <app-rounded-icon *ngIf="character.gender === 'female'" [imgSrc]="'/assets/img/femenine.svg'"
                    [tooltipText]="'Female'"></app-rounded-icon>
            </div>

            <!-- <div>Credits</div>
        <a href="https://www.flaticon.com/free-icons/teacher" title="teacher icons">Teacher icons created by Freepik - Flaticon</a>
        <a href="https://www.flaticon.com/free-icons/student" title="student icons">Student icons created by RIkas Dzihab - Flaticon</a>
        <a href="https://www.flaticon.com/free-icons/skull" title="skull icons">Skull icons created by Freepik - Flaticon</a>
        <a href="https://www.flaticon.com/free-icons/alive" title="alive icons">Alive icons created by Freepik - Flaticon</a>
        <a href="https://www.flaticon.com/free-icons/male" title="male icons">Male icons created by smashingstocks - Flaticon</a>
        <a href="https://www.flaticon.com/free-icons/woman" title="woman icons">Woman icons created by Freepik - Flaticon</a>
         -->
        </div>

        <div class="character-wrapper">
            <section>
                <h3>Character</h3>
                <app-character-property [property]="'Name'" [value]="character.name"></app-character-property>
                <app-character-property [property]="'Date of birth'" [value]="character.dateOfBirth">
                </app-character-property>
                <app-character-property [property]="'Eye color'" [value]="character.eyeColour"></app-character-property>
                <app-character-property [property]="'Hair color'"
                    [value]="character.hairColour"></app-character-property>
                <app-character-property [property]="'Patronus'" [value]="character.patronus"></app-character-property>
                <app-character-property [property]="'House'" [value]="character.house"></app-character-property>
            </section>
            <div>
                <section>
                    <h3>Wand</h3>
                    <app-character-property [property]="'Wood'" [value]="character.wand.wood"></app-character-property>
                    <app-character-property [property]="'Core'" [value]="character.wand.core"></app-character-property>
                    <app-character-property [property]="'Length'"
                        [value]="character.wand.length"></app-character-property>
                </section>
                <section>
                    <h3>Actor</h3>
                    <app-character-property [property]="'Name'" [value]="character.actor"></app-character-property>
                </section>
            </div>

        </div>

    </div>
</div>