.title {
    margin: 0px auto;
    padding-top: 25px;
    text-align: center;

    

    h2 {
        margin-top: 20px;
        font-size: x-large;
        text-transform: uppercase;
    }
}

.summary {
    margin: auto;
    margin-top: 15px;
    text-align: center;

    .icons {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}

.character-wrapper {
    margin: 10px 5px;

    section {
        margin: 0px 10px 50px 10px;

    }


}


@media(min-width: 960px) {

    .page {
        max-width: 960px;
        margin: 0px auto;

        .character-wrapper {
            margin: auto;
            margin-top: 30px;
            display: grid;
            grid-template-columns: 1fr 1fr;


        }

    }

}