:host {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.character-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 10px 50px;
    height: 80vh;
    max-height: 1080px;


    .information {
        width: calc(50% - 30px);
        margin: 15px;

        section {
            margin-bottom: 50px;
        }
    }

    .picture {
        margin: 15px;
        width: calc(50% - 30px);
        background-repeat: no-repeat;
        background-size: auto 100%;
        background-position: top center;
        // background-color:#ecf8f8;

        // border: 5px 5px 30px 5px solid white;
    }
}