@import 'colors';

:host {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    font-size: 1.2rem;
    padding: 5px 0;
    background-color: $theme-secondary-color;
    margin: 8px 0px;
}

.prop-name {
    margin-left: 15px;
    display: flex;
    width: 50%;
    font-weight: 700;
    padding: 5px;
}

.prop-value{
    display: flex;
    width: 50%;
    word-wrap: break-word;
    padding: 5px;
    hyphens: auto;

}