@import 'colors';

.pad {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 5px;
    padding: 20px;
    background-color: $theme-secondary-color;
    width: 48px;
    height: 48px;
    border-radius: 50%;

    .tooltiptext {
        visibility: hidden;
        background-color: black;
        color: $primary-text-color;
        text-align: center;
        border-radius: 6px;
        padding: 5px 10px;
        position: absolute;
        z-index: 1;
        margin-top: -100px;
        opacity: 0.9;

        &::after {
            content: " ";
            position: absolute;
            top: 100%; /* At the bottom of the tooltip */
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: black transparent transparent transparent;
          }
    }

    &:hover {
        background-color: lighten($theme-secondary-color, 10%);

        .tooltiptext {
            visibility: visible;
        }
    }

    .pad-img{
        display: inline-block;
        width: 32px;
        height: 32px;
        background-color: $primary-text-color;

    }




}