<div class="wrapper">
    <div class="houses">

        <div class="house">
            <a style="background-image: url('./assets/img/gryffindor.jpg')" [routerLink]=" ['/house','gryffindor']">
            </a>
        </div>
    
        <div class="house">
    
            <a style="background-image: url('./assets/img/slytherin.jpg')" [routerLink]=" ['/house', 'slytherin']">
            </a>
        </div>
    
        <div class="house" >
    
            <a style="background-image: url('./assets/img/ravenclaw.jpg')" [routerLink]=" ['/house', 'ravenclaw']">
            </a>
        </div>
    
    
        <div class="house" >
            <a style="background-image: url('./assets/img/hufflepuff.jpg')" [routerLink]="['/house', 'hufflepuff']"></a>
    
        </div>
    </div>
</div>
