@import 'colors';

.breadcrumb {
    padding: 10px 20px;
    background-color: $theme-secondary-color;


    .item {
        a {
            cursor: pointer;
            text-decoration: underline;
            font-size: 1.1rem;
            font-weight: 600;
        }
        .slash {
            display: inline-block;
            padding: 0px 5px;
        }

        &:last-of-type {
            a {
                cursor: text;
                text-decoration: none;
                color: $primary-text-color;
                font-weight: 500;

            }

            .slash {
                display: none;
            }
        }
    }
}