<div>
    <app-breadcrumb [path]="breadcrumbPath"></app-breadcrumb>
</div>
<div>
    <h2>Characters from <span class="capitalize">{{name}}</span></h2>
    <div class="cards-wrapper">
        <a class="card" *ngFor="let char of charList" [routerLink]="['/character', base64EncodeName(char.name)]">
                <div *ngIf="char.image" class="char-img" style="background-image:url('{{char.image}}')"></div>
                <div *ngIf="!char.image" class="char-img {{name | toLowerCase}}">
                </div>
                <div class="char-name">
                    <span>{{char.name}}</span>
                </div>
        </a>
    </div>
</div>