@import 'colors';

h2 {
    margin-left: 30px;
}

.cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 0px 20px;

    .card {
        border-radius: 5rem;
        display: flex;
        margin: 10px;
        font-weight: 600;
        padding: 15px 0px;
        font-size: 1.3rem;
        background-color: $theme-secondary-color;
        width: 100%;
        flex-direction: row;
        position: relative;

        &:hover {
            color: $primary-text-color;
            background-color: lighten($theme-secondary-color, 10%);
        }


        .char-img {
            position: relative;
            margin-left: 15px;
            display: flex;
            border-radius: 50%;
            background-repeat: no-repeat;
            width: 80px;
            height: 80px;
            min-width: 80px;
            min-height: 80px;
            background-size: 100% auto;
            background-position: top center;

            &.gryffindor {
                background-image: url('./../../../../assets/img/gr-uniform.png');
            }

            &.slytherin {
                background-image: url('./../../../../assets/img/sn-uniform.png');
            }

            &.ravenclaw {
                background-image: url('./../../../../assets/img/rw-uniform.png');
            }

            &.hufflepuff {
                background-image: url('./../../../../assets/img/hf-uniform.png');
            }
        }

        .char-name {
            margin: 0px 10px;
            line-height: 1;
            display: flex;
            height: 80px;
            align-items: center;


            span {
                vertical-align: middle;
            }
        }

        // }
    }

    @media(min-width: 800px) {
        .card {
            width: calc(50% - 20px); // 4 cartes par ligne (24 = bordures gauche/droite + margin gauche/droite)
        }
    }

    @media(min-width: 1000px) {
        .card {
            width: calc(33% - 20px); // 4 cartes par ligne (24 = bordures gauche/droite + margin gauche/droite)
        }
    }

    @media(min-width: 1200px) {
        .card {
            width: calc(25% - 20px); // 4 cartes par ligne (24 = bordures gauche/droite + margin gauche/droite)
        }
    }
}