:host {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 0px 20px;

    .card {
        border-radius: 5rem;
        display: inline-block;
        margin: 10px;
        font-weight: 600;
        padding: 15px 0px;
        font-size: 1.3rem;
        background-color: #b2967dff;
        width: 100%;

        &:hover {
            color: #b2967dff;
            background-color: #ecf8f8;
            a {
                color: #b2967dff;
            }
        }

        a {
            width: 100%;
            height: 100%;
            display: flex;
            color: #ecf8f8;

            .char-img{
                margin-left: 15px;
                display: inline-block;
                border-radius: 50%;
                background-repeat: no-repeat;
                width: 80px;
                height: 80px;
                background-color: #ecf8f8;
                background-size: 100% auto;
                background-position: top center;
            }

            .char-name {
                margin-left: 15px;
                line-height: 1;
                height: 80px;
                display: flex;                    
                align-items: center;


                span{
                    vertical-align: middle;
                }
            }
        }
    }

    @media(min-width: 800px) {
        .card {
            width: calc(50% - 20px); // 4 cartes par ligne (24 = bordures gauche/droite + margin gauche/droite)
        }
    }
    @media(min-width: 1000px) {
        .card {
            width: calc(33% - 20px); // 4 cartes par ligne (24 = bordures gauche/droite + margin gauche/droite)
        }
    }
    @media(min-width: 1200px) {
        .card {
            width: calc(25% - 20px); // 4 cartes par ligne (24 = bordures gauche/droite + margin gauche/droite)
        }
    }
}


