@import 'colors';

.line {
    position: relative;
    height: 6px;

    &.gryffindor {
        background: linear-gradient(to right, $gryffindor-primary 0%, #D3A625 100%);
    }

    &.slytherin {
        background: linear-gradient(to right, #1A472A 0%,  #AAAAAA 100%);
    }

    &.ravenclaw {
        background: linear-gradient(to right, #0e1a40 0%, #946b2d 100%);

    }

    &.hufflepuff {
        background: linear-gradient(to right, #ecb939 0%, #372e29 100%);
    }
}