@import 'scss/colors';
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}




@font-face {
    font-family: 'Aboreto';
    src: url('./assets/fonts/Aboreto-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'CrimsonText-Regular';
    src: url('./assets/fonts/CrimsonText-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'CrimsonText-Bold';
    src: url('./assets/fonts/CrimsonText-Bold.ttf') format('truetype');
}

nav {
    padding: 10px 20px;
    background-color: $theme-secondary-color;

}

body {
    font-family: 'CrimsonText-Regular';
    color: $primary-text-color;
    overflow-x: hidden;
    background-color: $theme-primary-color;
}

.container {
    max-width: 1600px;
    margin: auto;
}

h1 {
    color: $primary-text-color;
}

h2 {
    margin-top: 10px;
}

h3 {
    font-size: 1.3rem;
}

.capitalize {
    text-transform: capitalize;
}

a {
    color: $primary-text-color;

    &:hover {
        color: $link-hover-color;
    }
}

.toast-container {
    font-family: Arial, Helvetica, sans-serif;
}