$theme-primary-color: #10141b;
$theme-secondary-color: #242633;
$primary-text-color: #ecf8f8;
$link-hover-color: #9fa1ad;

$gryffindor-primary: #740001; 
$gryffindor-secondary: #d3a625;

$slytherin-primary:#1a472a; 
$slytherin-secondary:#aaaaaa;

$ravenclaw-primary: #0e1a40;
$ravenclaw-secondary: #946b2d;

$hufflepuff-primary: #ecb939;
$hufflepuff-secondary: #372e29;